.heading_mainbg{
    position: absolute;
width: 378px;
height: 47px;
left: 200px;
top: 358px;


font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 47px;
/* identical to box height */

color: #FFFFFF;
}
.subheading_mainbg{
    /* 142,765 Computer Engineers follow this */

position: absolute;
width: 327px;
height: 23px;
left: 200px;
top: 409px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

color: #FFFFFF;
}

.wrapper{
    /* position: absolute; */
width: 1440px;
height: 440px;
left: 0px;
top: 72px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%);
background: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1640&q=80');
background-position: center;
background-size: cover;
  }